:root {
  --max-width: 1000px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --button-link: #359efe;
  --background: #f2f2f2;
  --primary-color: #353C45;
  --button-bg: #359efe;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
  margin: auto;
}

body {
  color: var(--primary-color);
  background: var(--background);
}

h1 {
  font-size: 48px;
}

a {
  color: inherit;
  text-decoration: none;
}
