.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.projects_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  & > .project {
    flex: 1;
    flex-shrink: 0;
    width: 50%;
    & > .title {
      font-size: 18px;
      padding: 10px 0;
      font-weight: 600;
    }
    .description {
      font-size: 14px;
    }
  }
}
.presentation {
  margin-top: 20px;
  position: relative;
}

.see_all {
  border-radius: var(--border-radius);
  background: var(--button-link);
  width: max-content;
  padding: 8px 12px;
  text-align: center;
  margin: auto;
  font-weight: 700;
}
.name {
  position: absolute;
  top: 12%;
  color: var(--background);
  padding: 0 60px;
  font-weight: 700;
}

.skills_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.skill {
  background: var(--button-link);
  border-radius: var(--border-radius);
  padding: 8px;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}